[user]
  name = Sarah Ridge
  email = ridge.sarah@gmail.com
[core]
  editor = /Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl -n -w
  excludesfile = ~/.gitignore_global
  ignorecase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
[alias]
  st = status
  cb = checkout
  standup = log --since yesterday --oneline --no-merges --author smridge
[difftool "github"]
  cmd = github
[rebase]
  instructionFormat = [%an] %s
