[user]
  name = Sarah Ridge
  email = ridge.sarah@gmail.com
[core]
  editor = /Applications/Sublime\\ Text.app/Contents/SharedSupport/bin/subl -n -w
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
